.header-container {
  padding: 0 100px;
}

.container {
  padding: 0 150px;
}

.header-title {
  padding-top: 8px;
}

.header-menu {
  min-width: 300px;
  display: flex;
  justify-content: end;
}

.ant-typography.header-title {
  margin: 0;
  font-size: 32px;
  color: #fff;
}

.text-color {
  color: #fff;
}

.ant-layout.login-container {
  padding-top: 110px;
  min-height: calc(100vh - 64px);
}

.ant-typography.login-title {
  margin: 0 auto;
  margin-bottom: 80px;
}

.form-login.ant-form {
  padding: 30px;
  width: 500px;
}

.form-login__button_wrapper {
  display: flex;
  justify-content: end;
}

.form-login__button {
  width: 150px;
}

.user-info {
  margin-left: auto;
  padding-right: 15px;
  color: #fff;
}

.loading-screen {
  height: calc(100vh - 64px);
  justify-content: center;
}

.loading-screen__title {
  margin-left: auto;
  margin-right: auto;
}

.loading-screen__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.modal-select {
  width: 120px;
}

.ant-layout.main-container {
  padding: 0 150px;
  min-height: calc(100vh - 65px);
}

.main-container__title.ant-typography {
  margin: 0;
  padding-bottom: 5px;
}

.main-container__link {
  margin-right: 185px;
}

.events-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-list__user {
  font-weight: bold;
}

.events-list__description--complete {
  text-decoration: line-through;
}

.events-list__content--by-month {
  text-align: center;
}

.ant-layout.section-container {
  padding: 0 150px;
  min-height: calc(100vh - 64px);
}

