.main-container.ant-layout {
  padding: 0 150px;
  min-height: calc(100vh - 65px);
}

.main-container__title.ant-typography {
  margin: 0;
  padding-bottom: 5px;
}

.main-container__link {
  margin-right: 185px;
}
