.stat-screen.ant-layout {
  padding-top: 30px;
}

.stat-screen__title.ant-typography {
  margin: 0 auto;
  margin-bottom: 10px;
}

.stat-screen__container {
  position: relative;
}

.stat-screen__link {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.stat-screen__slider.ant-slider {
  margin-bottom: 25px;
}